@model IEnumerable<Movie_Rental_Store.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Movies </h1>
<table class="table table-hover table-bordered">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>

    }
</table>